@{
    ViewData["Title"] = "Add Category";
}

<div>
    <form method="post">
        <label class="form-label" for="Category">Category</label>
        <input for="Category" type="text" class="form-control" name="Category">

        <button type="submit" class="btn btn-danger">Evet</button>
        <a href="/" class="btn btn-primary">Hayır</a>
    </form>
</div>