@model Product
@{
    ViewData["Title"] = "Create";
}
<form method="post" asp-controller="home" asp-action="create">
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label" for="Price">Fiyat</label>
        <input asp-for="Price" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label" for="Image">Resim</label>
        <input asp-for="Image" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label" for="CategoryId">Category</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-select">
            <option value="0">Hepsi</option>
             
        </select>
    </div>

    <div class="mb-3">
        <input asp-for="IsActive" class="form-check-input">
        <label class="form-check-label" asp-for="IsActive">Is Active</label>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>