@model Product
@{
    ViewData["Title"] = "Create";
}

@* enctype="multipart/form-data"
bu kodu yazmasaydık, resim alanı gönderilmeyecekti *@
<form method="post" asp-controller="home" asp-action="create" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" >
        <span asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" for="Price">Fiyat</label>
        <input asp-for="Price" class="form-control">
        <span asp-validation-for="Price"></span>
    </div>

   
    @* Image dosyası koymak için artık dosya ismi girmek yerine, kendi bilgisayarımızdan dosya yükleyeceğiz *@
    <div class="input-group mb-3">
        <input type="file" name="imageFile" id="imageFile" class="form-control">
    </div>


    @* kategori id için asp for kullanıldı
    kategori dropdown listesi için viewbag kullanıldı *@
    <div class="mb-3">
        <label class="form-label" for="CategoryId">Category</label>
        <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-select">
            <option value="0">Hepsi</option>
        </select>
        <span asp-validation-for="CategoryId"></span>
    </div>

    <div class="mb-3">
        <label class="form-check-label" asp-for="IsActive">Is Active</label>
        <input asp-for="IsActive" class="form-check-input">
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>